.ng-invalid.ng-touched {
  border-color: #f44336 !important;
}

.p-button:disabled {
  opacity: 0.6;
}
.p-inputtext {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.2s;
}

.p-inputtext.ng-invalid.ng-touched {
  border-color: #f44336;
}

.p-inputtext:focus {
  outline: none;
  border-color: #808080; /* Matches your BlackAura 500 */
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
}
