@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-white text-black;
    scroll-behavior: smooth;
}

html.dark {
  @apply bg-black text-white;
}

.bg-panel {
  @apply bg-gray-100 dark:bg-gray-900;
}

.text-muted {
  @apply text-gray-600 dark:text-gray-400;
}

